[program:sentry]
user=sentry
group=sentry
command=/var/sentry/ve/bin/sentry --config=/var/sentry/sentry_conf.py start http
environment=PATH="/var/sentry/ve/bin",HOME="/var/sentry/home",USER="sentry"
autostart=true
autorestart=true
redirect_stderr=true

# See https://docs.getsentry.com/on-premise/server/installation/#configure-supervisord
[program:celery_beat]
user=sentry
group=sentry
command=/var/sentry/ve/bin/sentry --config=/var/sentry/sentry_conf.py run cron --pidfile=$HOME/celerybeat.pid
environment=PATH="/var/sentry/ve/bin",HOME="/var/sentry/home",USER="sentry"
autostart=true
autorestart=true
redirect_stderr=true

[program:celery_worker]
user=sentry
group=sentry
command=/var/sentry/ve/bin/sentry --config=/var/sentry/sentry_conf.py celery worker
environment=PATH="/var/sentry/ve/bin",HOME="/var/sentry/home",USER="sentry"
autostart=true
autorestart=true
redirect_stderr=true
